@model InmobiliariaASPMVC.Entidades.ViewModels.Propiedad.PropiedadListViewModel

@{
    ViewBag.Title = "Delete";
}


<h3>Desea eliminar esta Propiedad?</h3>
<div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.TipoPropiedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPropiedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoOperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoOperacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PropiedadId)

        @*////Forma de reservar el id Provincia en la Vista, hay que recordar que esto viene todo lleno
            ////y cuando vuelve al servidor, el estado lo pierde, entonces yo debo reservar el Id de Provincia,
            ////eso lo logro mediante un HiddenFor..*@
        @*//Los Hidden son campos ocultos, entonces reservo esto,
            //para despues tenerlo alla, y si quiera que el modelo
            //este completo, tambien podria hacer un Hidden de NombreProvincia.*@


        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-success" })
        </div>

    }
</div>
