@model InmobiliariaASPMVC.Entidades.ViewModels.Propiedad.PropiedadEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Desea Editar la Propiedad?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @*<h4>PropiedadEditViewModel</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PropiedadId)


    <div class="form-group">
        @Html.LabelFor(model => model.DescripcionP, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.DescripcionP, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DescripcionP, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TipoPropiedadId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(model => model.TipoPropiedadId, new SelectList(Model.TipoPropiedad, "TipoPropiedadId", "DescripcionTP"),
        " Seleccione un Tipo de Propiedad ", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TipoPropiedadId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TipoOperacionId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(model => model.TipoOperacionId, new SelectList(Model.TipoOperacion, "TipoOperacionId", "DescripcionTO"),
        " Seleccione un Tipo de Operacion ", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TipoOperacionId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClienteId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(model => model.ClienteId, new SelectList(Model.Cliente, "ClienteId", "Apellido"),
        " Seleccione un Cliente ", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaIngreso, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Disponible)
        @Html.CheckBoxFor(model => model.Disponible)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ambientes, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Ambientes, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Ambientes, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SuperficieTerreno, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.SuperficieTerreno, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SuperficieTerreno, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SuperficieEdificada, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.SuperficieEdificada, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SuperficieEdificada, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Departamento, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Departamento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Jardin)
        @Html.CheckBoxFor(model => model.Jardin)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Garage)
        @Html.CheckBoxFor(model => model.Garage)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cochera, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Cochera, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Cochera, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LocalidadId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(model => model.LocalidadId, new SelectList(Model.Localidad, "LocalidadId", "NombreLocalidad"),
        " Seleccione una Localidad ", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LocalidadId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProvinciaId, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(model => model.ProvinciaId, new SelectList(Model.Provincia, "ProvinciaId", "NombreProvincia"),
        " Seleccione una Provincia ", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProvinciaId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CostoOperacion, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.CostoOperacion, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CostoOperacion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ValorPropiedad, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.ValorPropiedad, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ValorPropiedad, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-warning" />
            @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-success" })
        </div>
    </div>
</div>
}

