@model IEnumerable<InmobiliariaASPMVC.Entidades.ViewModels.Propiedad.PropiedadListViewModel>

@{
    ViewBag.Title = "Index";
}

<div>

    <a href="@Url.Action("Create","Propiedades")" class="btn btn-primary" style="float:right">Nuevo</a>
    <h2>Lista de Propiedades</h2>
    @*<a href="@Url.Action("Create","Provincias")">Nuevo</a>*@@*otra forma de poner el boton nuevo, pero sin recuadro*@
    @*<a href="#" class="btn btn-primary" style="float:right">Nuevo</a>*@@*otra forma*@

</div>

<hr />
@*con este bloque logro que aparesca el mensaje de Exito, luego de Agregar una Localidad*@

@if (TempData["Msg"] != null)
{
    var msg = TempData["Msg"].ToString();
    <div class="alert alert-sucess alert-dismisible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Exito! </strong>@msg
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Disponible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPropiedad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoOperacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Disponible)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cliente)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TipoPropiedad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TipoOperacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Localidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Provincia)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.PropiedadId }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Details", "Details", new { id = item.PropiedadId }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PropiedadId }, new { @class = "btn btn-danger" })
    </td>
</tr>
    }

</table>
