@model InmobiliariaASPMVC.Entidades.ViewModels.Propiedad.PropiedadFilterListViewModel

@{
    ViewBag.Title = "Index";
}

<div>

    <a href="@Url.Action("Create","Propiedades")" class="btn btn-primary" style="float:right">Nuevo</a>
    <h2>Lista de Propiedades</h2>
    @*<a href="@Url.Action("Create","Provincias")">Nuevo</a>*@@*otra forma de poner el boton nuevo, pero sin recuadro*@
    @*<a href="#" class="btn btn-primary" style="float:right">Nuevo</a>*@@*otra forma*@

</div>

<hr />
@*con este bloque logro que aparesca el mensaje de Exito, luego de Agregar una Localidad*@

@if (TempData["Msg"] != null)
{
    var msg = TempData["Msg"].ToString();
    <div class="alert alert-sucess alert-dismisible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Exito! </strong>@msg
    </div>
}

<hr />
<div class="row">
    <div class="col-md-2">
        <h4>Filtro:</h4>
        <div class="list-group">
            <div class="list-group">
                @Html.ActionLink("Todos", "Index", null, new { @class = Request["tipoPropiedad"] == null ? "list-group-item active" : "list-group-item" })
                @foreach (var tipo in Model.TipoPropiedad)
                {
                   @Html.ActionLink(tipo.DescripcionTP, "Index", new { tipoPropiedad = tipo.DescripcionTP }, new { @class = Request["tipoProducto"] == tipo.DescripcionTP ? "list-group-item active" : "list-group-item" })
                }
            </div>
        </div>

    </div>
    <div class="col-md-10">
        @Html.Partial("_ListaPropiedades", Model.Propiedad)

    </div>

</div>





