@model InmobiliariaASPMVC.Entidades.ViewModels.Carrito.CarritoListViewModel
@{ 

    ViewBag.Title = "CheckOut"; 

}

<h2>CheckOut</h2>

<table class="table">
    <thead>
        <tr>
            <th>PrecioUni</th>
            <th>Propiedad </th>
            <th class="text-right">Precio</th>
            <th class="text-right">SubTotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
<tr>
    <td>@item.PrecioUni</td>
    <td>@item.PropiedadListViewModel.TipoPropiedad</td>
    <td class="text-right">@item.PropiedadListViewModel.CostoOperacion</td>
    <td class="text-right">@(item.PropiedadListViewModel.CostoOperacion + item.PrecioUni)</td>
</tr>}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"> <strong>Total:</strong></td>
            <td class="text-right"><strong>@Model.Items.Sum(i => i.PrecioUni + i.PropiedadListViewModel.CostoOperacion)</strong> </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    @Html.ActionLink("Cancelar", "CancelarOperacion", "", new { @class = "btn btn-success" })
    @Html.ActionLink("Confirmar", "ConfirmarOperacion", null,

            new { @class = "btn btn-primary" })

</div>


