@model InmobiliariaASPMVC.Entidades.ViewModels.Carrito.CarritoListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Tu Eleccion</h2>

<table class="table">
    <thead>
        <tr>
            <th>Valor</th>
            <th>Propiedad </th>
            <th class="text-right">Precio</th>
            <th class="text-right">SubTotal</th>
        </tr>
    </thead>

    @foreach (var item in Model.Items)
    {
            <tr>
                <td>@item.Valor</td>
                <td>@item.PropiedadListViewModel.DescripcionP</td>
                <td class="text-right">@item.PropiedadListViewModel.CostoOperacion</td>
                <td class="text-right">@(item.PropiedadListViewModel.CostoOperacion + item.Valor)</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Carrito"))
                    {
                        @Html.Hidden("propiedadId", item.PropiedadListViewModel.PropiedadId)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input type="submit" class="btn btn-sm btn-danger" value="Eliminar" />
                    }
                </td>
            </tr>
    }
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"> <strong>Total:</strong></td>
            <td class="text-right"><strong>@Model.Items.Sum(i => i.Valor + i.PropiedadListViewModel.CostoOperacion)</strong> </td>
        </tr>
    </tfoot>

</table>
<div class="text-center">
    <a href="@Model.ReturnUrl" class="btn btn-success">Continuar comprando</a>
    @Html.ActionLink("CheckOut", "CheckOut", null,

        new { @class = "btn btn-primary" })

</div>

