@model InmobiliariaASPMVC.Entidades.ViewModels.Cliente.ClienteEditViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Desea ingresar un nuevo Cliente?</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
                @Html.LabelFor(model => model.Descripcion)
                @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre)
            @Html.EditorFor(model => model.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido)
            @Html.EditorFor(model => model.Apellido, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDocumentoId)
            @Html.DropDownListFor(model => model.TipoDocumentoId, new SelectList(Model.TipoDocumento, "TipoDocumentoId", "DescripcionTD"),
            " Seleccione un Tipo de Documento ", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TipoDocumentoId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NroDocumento)
            @Html.EditorFor(model => model.NroDocumento, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NroDocumento, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion)
            @Html.EditorFor(model => model.Direccion, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProvinciaId)
            @Html.DropDownListFor(model => model.ProvinciaId, new SelectList(Model.Provincia, "ProvinciaId", "NombreProvincia"),
            " Seleccione una Provincia ", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProvinciaId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalidadId)
            @Html.DropDownListFor(model => model.LocalidadId, new SelectList(Model.Localidad, "LocalidadId", "NombreLocalidad"),
            " Seleccione una Localidad ", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LocalidadId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefonoFijo)
            @Html.EditorFor(model => model.TelefonoFijo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TelefonoFijo, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TelefonoMovil)
            @Html.EditorFor(model => model.TelefonoMovil, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TelefonoMovil, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CorreoElectronico)
            @Html.EditorFor(model => model.CorreoElectronico, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Detalles)
                @Html.TextAreaFor(model => model.Detalles, new { @class = "form-control", row = 10, col = 20 })
                @Html.ValidationMessageFor(model => model.Detalles, "", new { @class = "text-danger" })
            </div>*@


        @*<div class="form-group">
                    @Html.LabelFor(model => model.Activo)
                    @Html.CheckBoxFor(model => model.Activo)
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Volver", "Index", "", new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}

